*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

form {
  border: 2px solid rgb(146, 146, 146);
  border-radius: 3px;
  margin: 20px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.main-bar button{
    margin-right: 23px;
    margin-top: 15px;
}

.main-bar h1{
    margin-left: 43px;
    margin-top: 26px;
}

.cont-form button {
  background-color: #38c6d9;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.imgcontainer img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
  span.psw {
     display: block;
     float: none;
  }

  .main-bar h1{
    font-size: 28px;
    margin-top: 23px;
    margin-bottom: 10px;
  }

  .cancelbtn {
     width: 100%;
  }
  form{
    margin: 15px;
  }
}

@media screen and (max-width: 480px) {
  .main-bar h1{
    font-size: 23px;
    margin-left: 15px;
  }
  
  .main-bar button{
    margin-right: 2px;
  }

  form{
    margin: 12px;
  }
}