*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    transition: background-color 0.3s, color 0.3s;
}

.main-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.club-section{
    display: flex;
    justify-content: space-evenly;
    /* padding: 0px 50px; */
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.box{
    height: 300px;
    width: 270px;
    background-color: #b3949426;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 5px;
    margin: 50px 15px;
}

.box h3{
    text-align: center;
    margin-bottom: 0.5rem;
}

.box-img{
    height: 250px;
    background-size: cover;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.box-img {
  width: 238px;
  height: 250px;
  background-size: cover;        /* Image container ko poora cover kare */
  background-position: center;   /* Image ko perfectly center kare */
  background-repeat: no-repeat;  /* Repeat na ho */
  border-radius: 10px;           /* Optional: thoda smooth edges dene ke liye */
}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}


.box-content a{
    color: #00c4ff;
    text-decoration: none;
}

.box-content a:hover {
    text-decoration: underline;
}

.box-content a:active,
.box-content a:focus {
    color: red; 
    outline: none;
}

.boxplus .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .main-bar h1{
    font-size: 28px;
    margin-top: 23px;
    margin-bottom: 10px;
  }

  .box{
    margin: 35px 13.5px;
  }
}

@media screen and (max-width: 480px) {
  .main-bar h1{
    font-size: 23px;
    margin-left: 15px;
  }
  
  .main-bar button{
    margin-right: -11px;
    margin-top: 11px;
  }

  .box{
    margin: 23px 12px;
  }

  .box h3{
    font-size: 16px;
  }
}